{
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
	email   {$ACME_EMAIL}
}

(authentik) {
	reverse_proxy /outpost.goauthentik.io/* http://authentik-server:9000

	forward_auth http://authentik-server:9000 {
    		uri /outpost.goauthentik.io/auth/caddy
    		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
    		trusted_proxies private_ranges
	}
}

#non-docker
adguard.tovster.cloud {
	reverse_proxy http://192.168.2.120
}

portainer.tovster.cloud {
	reverse_proxy https://portainer:9443 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

proxmox.tovster.cloud {
	reverse_proxy https://192.168.2.100:8006 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

truenas.tovster.cloud {
	reverse_proxy https://192.168.2.101  {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

#infra
homebridge.tovster.cloud {
	import authentik
	reverse_proxy http://192.168.2.110:8581
}

uptimekuma.tovster.cloud {
	import authentik
	reverse_proxy http://uptime-kuma:3001
}

auth.tovster.cloud {
	reverse_proxy http://authentik-server:9000
}

#media
plex.tovster.cloud {
	reverse_proxy http://192.168.2.110:32400
}

lazylibrarian.tovster.cloud {
	reverse_proxy http://lazylibrarian:5299
}

prowlarr.tovster.cloud {
	import authentik
	reverse_proxy http://prowlarr:9696
}

radarr.tovster.cloud {
	import authentik
	reverse_proxy http://radarr:7878
}

sonarr.tovster.cloud {
	import authentik
	reverse_proxy http://sonarr:8989
}

transmission.tovster.cloud {
	import authentik
	reverse_proxy http://transmission-openvpn:9091
}

homeassistant.tovster.cloud {
	import authentik
	reverse_proxy http://192.168.2.110:8123
}

wg.tovster.cloud {
	import authentik
	reverse_proxy http://192.168.2.110:51821
}

overseerr.tovster.cloud {
	reverse_proxy http://overseerr:5055
}